<!DOCTYPE html>

<html lang="en">
    <head>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="../static/style.css" rel="stylesheet">
    
        <title> Big cola </title>

        </head>
        <body>

        <div id = "titulo4">
            <p> <img class="img-fluid" alt="..." src ="../media/logo_Big_Cola.png" > </p>
        </div>

        <div class = "contenido4">
            <div class="seccion">
                <p> 
                <a class="btn btn-danger" href= "../index.html"  > Coca cola </a>
                <a class="btn btn-primary" href="pagina2.html" > Pepsi </a>
                <a class="btn btn-light" href="pagina3.html"> kola shaler </a>
                </p>
            
                <p> <img class="img-fluid" alt="..." src ="../media/Big-Cola.jpg" > </p>
            </div>
        </div>

        <div class = "contenido4_4">
            <div class="seccion4">

            <h5>
            <br>Big Cola (estilizado como BIG COLA) es una serie de bebidas gaseosas pertenecientes al grupo peruano AJE. Se comenzó a vender en 1988 por la familia Añaños en la ciudad de Ayacucho, Perú bajo el nombre de Kola Real. Big Cola no solamente se comercializa en Perú, también en; Canadá, El Salvador, Guatemala, Italia, Alemania, Tailandia, Estados Unidos, Colombia, Ecuador, México, Brasil, Venezuela, Nicaragua, Cuba, Costa Rica, India, Haití, España, Nigeria, Egipto, Indonesia, Reino Unido, Francia, Japón, Malasia, China, Vietnam, Laos, Birmania, República Dominicana, Bolivia, Honduras, La Réunion, Panamá y Madagascar
            </h5>
            <br>
            <h1> <strong> Historia <strong> </h1><br>
            <h5>
            En 1977, la familia Añaños creó una gaseosa llamada Kola Real en la ciudad de Ayacucho, Perú. Un grupo de seis hermanos y sus padres crearon la empresa en el patio de su casa para lograr más ingresos, debido a que no podían vivir de su fuente normal, la agricultura, porque el terrorismo asolaba al Perú en ese tiempo y era difícil obtener el sembrío.
            </h5>
            <br>
            <h5>
            La marca comenzó su internacionalización con Venezuela en 1999, para lo cual decidieron repartirse la tarea entre los Añaños Alcázar (ISM) y los Añaños Jería (AJE). Para ello estos últimos cambiaron el nombre a Big Cola, mientras que los primeros la distribuyeron como Kola Real.
            </h5>
            <br>
            <h5>
            Sin embargo, para el Perú, tanto AJE como ISM continuaron fabricando la marca KR (Kola Real) hasta el año 2017. Desde ese año, ambas compañías acordaron separar las marcas: ISM embotella con la denominación de KR, mientras que de Big se encarga AJE. Hoy en día ambas bebidas compiten en todo el país (incluyendo Lima), dejando atrás el acuerdo territorial que tenían entre ambas marcas, y aunque ambas comparten una misma historia, no guardan relación en la actualidad.
            </h5>

            </div>
        </div>

    </body>
</html>