<!DOCTYPE html>

<html lang="en">
    <head>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="../static/style.css" rel="stylesheet">
    
            <title>Kola shaler</title>

    </head>
    <body>

    <div id = "titulo3">
        <p> <img class="img-fluid" alt="..." src ="../media/logo_kola_shaler.png" > </p>
    </div>

    <div class = "contenido3">
        <div class="seccion">
            <p> 
            <a class="btn btn-danger" href= "../index.html">  Coca cola </a>
            <a class="btn btn-primary" href="pagina2.html" > Pepsi </a>
            <a class="btn btn-dark" href="pagina4.html" > Big cola </a>
            </p>

            <p > <img class="img-fluid" alt="..." src= "../media/kolashaler.png" > </p>
        </div>
    </div>

    <div class = "contenido3_3">
        <div class="seccion3">

            <h1> <strong> Historia <strong> </h1>
            <br>
            <h5> 
            La historia de Kola Shaler industrial se remonta a inicios de 1900, como una de las empresas pioneras de la industria nicaragüense. La empresa fue fundada por David Robleto Alemán, en el año 1904.
            El estableció la primera fábrica de la bebida Kola Shaler en la ciudad de León, en el occidente del país, de donde era originario.
            </h5>
            <br>
            <h5>
            La fábrica fue trasladada a Managua en 1925, y desde entonces ha sobrevivido a dos terremotos que destruyeron la capital, los acontecimientos y complicaciones de la guerra de los 80, así como otros grandes fenómenos naturales.
            La marca Kola Shaler proviene de la idea de brindar al público una bebida carbonatada con las características y calidad de una Kola inglesa, de manera que a eso obedeció su nombre.
            </h5>
            <br>
            <h5>
            En su fundación el producto era empacado en cajas artesanales de madera, embotellada en envases de vidrio envueltos individualmente en papel kraft y era distribuido en carretones halados por caballos, de acuerdo a las disponibilidades de inicio de 1900.
            </h5>
            <br>
            <h5>
            A principios del año 2000 se introdujo la versión Light para el segmento consumidor de alimentos sin calorías.También se producen otras bebidas carbonatadas con sabores de Ginger Ale y de Quina (Agua Tónica).
            </h5>
            <br>
            <h5> 
            Kola Shaler cuenta con más de 100 años de ser la bebida que refresca y llena de tradición a los nicaragüenses, actualmente se fabrica en presentaciones:
            </h5>

            <ul>
                <li> 16oz </li>
                <li> 12oz </li>
                <li> 2litos </li>
                <li> 3litos </li>
            </ul>


        </div>
    </div>

    </body>
</html>