<!DOCTYPE html>

<html lang="en">
    <head>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="../static/style.css" rel="stylesheet">
    
            <title> Pepsi</title>

    </head>
    <body>

        <div id = "titulo2">
            <p> <img class="img-fluid" alt="..." src ="../media/pepsi_logo.gif" > </p>
        </div>

        <div class = "contenido2">
        <div class="seccion">
            <p>
            <a class="btn btn-danger" href= "../index.html" > Coca cola </a>
            <a class="btn btn-light" href="pagina3.html"  > kola shaler </a>
            <a class="btn btn-dark" href="pagina4.html" > Big cola </a>
            </p>

            <p> <img class="img-fluid" alt="..." src = "../media/pepsi.jpgg" > </p>

        </div>
        </div>

        <div class = "contenido2_2">
        <div class ="seccion2">

            <h5>
            Pepsi, anteriormente Brad's Drink y Pepsi-Cola, es una bebida azucarada y gaseosa de cola creada en los Estados Unidos y producida por la compañía PepsiCo.
            Su mayor competidora es la también estadounidense Coca-Cola.
            </h5>
            <br>
            <h1> <strong> Historia </strong> </h1>
            <br>
            <h5>
            Pepsi apareció por primera vez en 1893. Su inventor fue el químico farmacéutico Caleb Davis Bradham, que preparaba y vendía la bebida en su botica en la localidad estadounidense de New Bern (Carolina del Norte).
            </h5>
            <br>
            <h5>
            Conocida al principio como Brad Drink (en español: «Refresco Brad»), en 1898 su creador la denominó Pepsi Cola, en alusión a la enzima digestiva pepsina y las nueces de cola usadas en la receta.
            El objetivo de Bradham era crear un refresco delicioso que ayudara a la digestión y fuera un estimulante
            </h5>
            <br>
            <h5>
            En 1902, solicitó el registro de la marca y fundó una empresa con noventa y siete acciones de capital. En 1903 trasladó la planta embotelladora a un almacén que alquiló para este propósito.
            Ese mismo año vendió 30 162 litros de concentrado. El año siguiente, empezó a usar botellas de 177 mililitros y las ventas ascendieron a 75 133 litros.
            </h5>
            <br>
            <h5>
            En 1909 el piloto de carreras Barney Oldfield fue el primer famoso en promocionar la bebida, describiéndola como «una bebida brava... refrescante, fortalecedora, un agradable estimulante para prepararse para una carrera.
            El eslogan publicitario «deliciosa y saludable» estuvo en uso durante dos décadas.
            </h5>

            
        </div>
        </div>

    </body>
</html>